<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792525558332-t90ulool1ao2oto14hiecbmbqmojn5md.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792525558332-t90ulool1ao2oto14hiecbmbqmojn5md</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ7ee4OwRlltcQeXqtLPRSreRtaiRu648</string>
	<key>GCM_SENDER_ID</key>
	<string>792525558332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappUi</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-65a2c</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-65a2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792525558332:ios:967306112299190e5d2939</string>
</dict>
</plist>